In [1]:
import pandas as pd
import pymysql
import os
from dotenv import load_dotenv

from extract import main
from transform import combine_tables, clean_outliers, add_outlier_columns, calculate_averages

In [2]:
load_dotenv()
data = main()

Connecting to database...

Extracting data from all tables...
Extracting data from Country...
  - Extracted 44 rows from Country
Extracting data from Location...
  - Extracted 48 rows from Location
Extracting data from Plant...
  - Extracted 48 rows from Plant
Extracting data from Botanist...
  - Extracted 48 rows from Botanist
Extracting data from Record...
  - Extracted 12549 rows from Record

=== Extraction Summary ===
Country: 44 rows, 2 columns
Location: 48 rows, 5 columns
Plant: 48 rows, 4 columns
Botanist: 48 rows, 4 columns
Record: 12549 rows, 7 columns

/Users/williamduong/Desktop/Sigma Labs Coursework/Coursework-Advanced-Data-Week-5/archive_pipeline/extract.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [3]:
country_df = data['Country']
location_df = data['Location']
botanist_df = data['Botanist']
plant_df = data['Plant']
record_df = data['Record']

In [4]:
combine_tables(country_df, botanist_df, location_df, plant_df, record_df)

,id,plant_id,recording_taken,moisture,temperature,last_watered,botanist_id,scientific_name,common_name,location_id,city,country_id,lat,long,country,botanist_name,email,phone
0,1,1,2026-01-28,25.603092,16.842388,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
1,2,2,2026-01-28,32.019440,14.288740,2026-01-27,2,,Corpse flower,2,Lake Jill,2,62.501933,-20.640567,United States Minor Outlying Islands,Jacob Hernandez,jacob.hernandez@lnhm.co.uk,8268602780
2,3,3,2026-01-28,37.103245,14.318891,2026-01-27,3,,Rafflesia arnoldii,3,Edwardsstad,3,-73.928909,-106.786584,New Zealand,Elizabeth Crawford,elizabeth.crawford@lnhm.co.uk,001-222-509-7760x055
3,4,4,2026-01-28,33.101509,16.838115,2026-01-27,4,,Black bat flower,4,East Sherry,4,23.701525,106.401108,Latvia,Alan Grant,alan.grant@lnhm.co.uk,6152878920
4,5,5,2026-01-28,34.881753,17.419263,2026-01-27,5,Sarracenia catesbaei,Pitcher plant,5,Lake Lydiaburgh,5,17.716970,-17.829700,Pitcairn Islands,Jennifer Blanchard,jennifer.blanchard@lnhm.co.uk,327.732.2111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12544,12545,46,2026-01-28,97.747064,15.226916,2026-01-28,43,Medinilla magnifica,Medinilla Magnifica,43,New Lori,37,52.915803,-138.082562,Malta,Casey Hayden,casey.hayden@lnhm.co.uk,001-318-520-0734x472
12545,12546,47,2026-01-28,97.547382,15.407172,2026-01-28,44,Calliandra haematocephala,Calliandra Haematocephala,44,South Michael,42,28.275200,-60.488715,Wallis and Futuna,Amy Yu,amy.yu@lnhm.co.uk,606-477-9194
12546,12547,48,2026-01-28,97.190686,17.750042,2026-01-28,45,Zamioculcas zamiifolia,Zamioculcas Zamiifolia,45,New Laurafurt,40,73.467015,85.125030,Russian Federation,Donna Baxter,donna.baxter@lnhm.co.uk,(899)415-2737x4627
12547,12548,49,2026-01-28,97.608597,13.425094,2026-01-28,46,Crassula ovata,Crassula Ovata,46,Amandahaven,43,54.826830,-101.575928,Saint Helena,Crystal Goodman,crystal.goodman@lnhm.co.uk,585-264-3806x2321
12548,12549,50,2026-01-28,20.978462,14.949177,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430

In [5]:
clean_outliers(combine_tables(country_df, botanist_df,
               location_df, plant_df, record_df))

(          id  plant_id recording_taken   moisture  temperature last_watered  \
 0          1         1      2026-01-28  25.603092    16.842388   2026-01-27
 1         48         1      2026-01-28  30.290944    16.902758   2026-01-27
 2         94         1      2026-01-28  30.260529    16.906006   2026-01-27
 3        189         1      2026-01-28  31.067811    16.941416   2026-01-27
 4        237         1      2026-01-28  26.761012    16.945341   2026-01-27
 ...      ...       ...             ...        ...          ...          ...
 11341  12362        50      2026-01-28  20.983956    14.960194   2026-01-27
 11342  12408        50      2026-01-28  20.469232    14.956732   2026-01-27
 11343  12455        50      2026-01-28  20.193023    14.954152   2026-01-27
 11344  12501        50      2026-01-28  16.231887    14.952059   2026-01-27
 11345  12549        50      2026-01-28  20.978462    14.949177   2026-01-27

        botanist_id    scientific_name        common_name  location_id  \
 0                1                         Venus flytrap            1
 1                1                         Venus flytrap            1
 2                1                         Venus flytrap            1
 3                1                         Venus flytrap            1
 4                1                         Venus flytrap            1
 ...            ...                ...                ...          ...
 11341           47  Epipremnum aureum  Epipremnum Aureum           47
 11342           47  Epipremnum aureum  Epipremnum Aureum           47
 11343           47  Epipremnum aureum  Epipremnum Aureum           47
 11344           47  Epipremnum aureum  Epipremnum Aureum           47
 11345           47  Epipremnum aureum  Epipremnum Aureum           47

                    city  country_id        lat       long     country  \
 0          Mitchellfurt           1  81.200354   7.815683    Suriname
 1          Mitchellfurt           1  81.200354   7.815683    Suriname
 2          Mitchellfurt           1  81.200354   7.815683    Suriname
 3          Mitchellfurt           1  81.200354   7.815683    Suriname
 4          Mitchellfurt           1  81.200354   7.815683    Suriname
 ...                 ...         ...        ...        ...         ...
 11341  North Joshuatown          39 -73.798738 -22.615264  Montenegro
 11342  North Joshuatown          39 -73.798738 -22.615264  Montenegro
 11343  North Joshuatown          39 -73.798738 -22.615264  Montenegro
 11344  North Joshuatown          39 -73.798738 -22.615264  Montenegro
 11345  North Joshuatown          39 -73.798738 -22.615264  Montenegro

          botanist_name                       email                 phone
 0      Sherry Campbell  sherry.campbell@lnhm.co.uk  +1-662-659-8097x8928
 1      Sherry Campbell  sherry.campbell@lnhm.co.uk  +1-662-659-8097x8928
 2      Sherry Campbell  sherry.campbell@lnhm.co.uk  +1-662-659-8097x8928
 3      Sherry Campbell  sherry.campbell@lnhm.co.uk  +1-662-659-8097x8928
 4      Sherry Campbell  sherry.campbell@lnhm.co.uk  +1-662-659-8097x8928
 ...                ...                         ...                   ...
 11341       Gina Meyer       gina.meyer@lnhm.co.uk   +1-414-616-0457x430
 11342       Gina Meyer       gina.meyer@lnhm.co.uk   +1-414-616-0457x430
 11343       Gina Meyer       gina.meyer@lnhm.co.uk   +1-414-616-0457x430
 11344       Gina Meyer       gina.meyer@lnhm.co.uk   +1-414-616-0457x430
 11345       Gina Meyer       gina.meyer@lnhm.co.uk   +1-414-616-0457x430

 [11346 rows x 18 columns],
 {1: {'temperature': 13, 'moisture': 0},
  2: {'temperature': 14, 'moisture': 42},
  3: {'temperature': 7, 'moisture': 0},
  4: {'temperature': 12, 'moisture': 54},
  5: {'temperature': 9, 'moisture': 22},
  6: {'temperature': 6, 'moisture': 0},
  8: {'temperature': 5, 'moisture': 0},
  9: {'temperature': 8, 'moisture': 0},
  10: {'temperature': 9, 'moisture': 0},
  11: {'temperature': 5, 'moisture': 0},
  12: {'temperature': 11, 'moisture': 0},
  13: {'temperature': 5, 'moisture': 2},
  14: {'temperature': 9, 'moisture': 0},
  15: {'temperature': 12, 'moisture': 60},
  16: {'temperature': 8, 'moisture': 0},
  17: {'temperature': 10, 'moisture': 18},
  18: {'temperature': 12, 'moisture': 0},
  19: {'temperature': 11, 'moisture': 0},
  20: {'temperature': 6, 'moisture': 6},
  21: {'temperature': 16, 'moisture': 0},
  22: {'temperature': 10, 'moisture': 2},
  23: {'temperature': 6, 'moisture': 6},
  24: {'temperature': 15, 'moisture': 32},
  25: {'temperature': 7, 'moisture': 57},
  26: {'temperature': 10, 'moisture': 4},
  27: {'temperature': 13, 'moisture': 61},
  28: {'temperature': 12, 'moisture': 1},
  29: {'temperature': 8, 'moisture': 29},
  30: {'temperature': 11, 'moisture': 0},
  31: {'temperature': 6, 'moisture': 0},
  32: {'temperature': 13, 'moisture': 2},
  33: {'temperature': 9, 'moisture': 0},
  34: {'temperature': 8, 'moisture': 0},
  35: {'temperature': 8, 'moisture': 0},
  36: {'temperature': 5, 'moisture': 0},
  37: {'temperature': 10, 'moisture': 23},
  38: {'temperature': 10, 'moisture': 61},
  39: {'temperature': 6, 'moisture': 34},
  40: {'temperature': 11, 'moisture': 9},
  41: {'temperature': 12, 'moisture': 25},
  42: {'temperature': 16, 'moisture': 0},
  44: {'temperature': 9, 'moisture': 41},
  45: {'temperature': 12, 'moisture': 0},
  46: {'temperature': 7, 'moisture': 39},
  47: {'temperature': 7, 'moisture': 28},
  48: {'temperature': 11, 'moisture': 48},
  49: {'temperature': 12, 'moisture': 40},
  50: {'temperature': 5, 'moisture': 0}})

# Avg DataFrame

In [8]:
combined_df = combine_tables(country_df, botanist_df,
                                 location_df, plant_df, record_df)
cleaned_df, outlier_counts = clean_outliers(combined_df)
final_avg_df = calculate_averages(cleaned_df, outlier_counts)

final_avg_df

,plant_id,common_name,scientific_name,avg_temperature,avg_moisture,temperature_outliers,moisture_outliers
0,1,Venus flytrap,,17.13,45.86,13,0
1,2,Corpse flower,,14.54,24.08,14,42
2,3,Rafflesia arnoldii,,14.43,26.23,7,0
3,4,Black bat flower,,17.13,23.57,12,54
4,5,Pitcher plant,Sarracenia catesbaei,17.62,24.50,9,22
5,6,Wollemi pine,Wollemia nobilis,13.18,26.18,6,0
6,8,Bird of paradise,Heliconia schiedeana 'Fire and Ice',16.65,25.71,5,0
7,9,Cactus,Pereskia grandifolia,16.04,25.54,8,0
8,10,Dragon tree,,18.49,46.04,9,0
9,11,Asclepias Curassavica,Asclepias curassavica,17.26,47.27,5,0
10,12,Brugmansia X Candida,,15.94,43.65,11,0
11,13,Canna ‘Striata’,,15.19,25.15,5,2
12,14,Colocasia Esculenta,Colocasia esculenta,16.82,42.82,9,0
13,15,Cuphea ‘David Verity’,,13.88,23.40,12,60
14,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,16.13,18.96,8,0
15,17,Ipomoea Batatas,Ipomoea batatas,14.95,25.31,10,18
16,18,Manihot Esculenta ‘Variegata’,,16.52,25.52,12,0
17,19,Musa Basjoo,Musa basjoo,15.71,25.75,11,0
18,20,Salvia Splendens,Salvia splendens,16.51,25.26,6,6
19,21,Anthurium,Anthurium andraeanum,15.44,26.38,16,0
20,22,Bird of Paradise,Heliconia schiedeana 'Fire and Ice',15.41,24.95,10,2
21,23,Cordyline Fruticosa,Cordyline fruticosa,13.25,24.83,6,6
22,24,Ficus,Ficus carica,13.30,24.32,15,32
23,25,Palm Trees,,17.60,23.72,7,57
24,26,Dieffenbachia Seguine,Dieffenbachia seguine,14.23,25.11,10,4
25,27,Spathiphyllum,Spathiphyllum (group),17.04,23.17,13,61
26,28,Croton,Codiaeum variegatum,15.40,44.07,12,1
27,29,Aloe Vera,Aloe vera,13.09,24.44,8,29
28,30,Ficus Elastica,Ficus elastica,15.28,49.21,11,0
29,31,Sansevieria Trifasciata,Sansevieria trifasciata,15.74,25.78,6,0
30,32,Philodendron Hederaceum,Philodendron hederaceum,16.31,25.24,13,2
31,33,Schefflera Arboricola,Schefflera arboricola,15.23,47.60,9,0
32,34,Aglaonema Commutatum,Aglaonema commutatum,16.36,47.97,8,0
33,35,Monstera Deliciosa,Monstera deliciosa,16.16,25.85,8,0
34,36,Tacca Integrifolia,Tacca integrifolia,16.75,42.21,5,0
35,37,Psychopsis Papilio,,13.58,24.72,10,23
36,38,Saintpaulia Ionantha,Saintpaulia ionantha,14.63,23.33,10,61
37,39,Gaillardia,Gaillardia aestivalis,13.96,24.43,6,34
38,40,Amaryllis,Hippeastrum (group),15.02,24.91,11,9
39,41,Caladium Bicolor,Caladium bicolor,13.30,24.32,12,25
40,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',13.57,26.38,16,0
41,44,Araucaria Heterophylla,Araucaria heterophylla,15.75,24.11,9,41
42,45,Begonia,Begonia 'Art Hodes',17.12,45.45,12,0
43,46,Medinilla Magnifica,Medinilla magnifica,15.53,23.95,7,39
44,47,Calliandra Haematocephala,Calliandra haematocephala,15.68,-13.26,7,28
45,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,18.08,23.82,11,48
46,49,Crassula Ovata,Crassula ovata,13.73,24.05,12,40
47,50,Epipremnum Aureum,Epipremnum aureum,15.10,26.21,5,0