In [22]:
import pandas as pd
import pymysql
import os
from dotenv import load_dotenv

from extract import get_db_connection, extract_table_data, extract_all_data, main
from transform import combine_tables, clean_table, calculate_averages, create_outlier_df

In [23]:
load_dotenv()
data = main()

Connecting to database...

Extracting data from all tables...
Extracting data from Country...
  - Extracted 44 rows from Country
Extracting data from Location...
  - Extracted 48 rows from Location
Extracting data from Plant...
  - Extracted 48 rows from Plant
Extracting data from Botanist...
  - Extracted 48 rows from Botanist
Extracting data from Record...
  - Extracted 5629 rows from Record

=== Extraction Summary ===
Country: 44 rows, 2 columns
Location: 48 rows, 5 columns
Plant: 48 rows, 4 columns
Botanist: 48 rows, 4 columns
Record: 5629 rows, 7 columns

/Users/williamduong/Desktop/Sigma Labs Coursework/Coursework-Advanced-Data-Week-5/archive_pipeline/extract.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [24]:
country_df = data['Country']
location_df = data['Location']
botanist_df = data['Botanist']
plant_df = data['Plant']
record_df = data['Record']

In [25]:
country_df.head()

   country_id                               country
0           1                              Suriname
1           2  United States Minor Outlying Islands
2           3                           New Zealand
3           4                                Latvia
4           5                      Pitcairn Islands

In [26]:
location_df.head()

   location_id             city  country_id        lat        long
0            1     Mitchellfurt           1  81.200354    7.815683
1            2        Lake Jill           2  62.501933  -20.640567
2            3      Edwardsstad           3 -73.928909 -106.786584
3            4      East Sherry           4  23.701525  106.401108
4            5  Lake Lydiaburgh           5  17.716970  -17.829700

In [27]:
combine_tables(country_df, botanist_df, location_df, plant_df, record_df)

,id,plant_id,recording_taken,moisture,temperature,last_watered,botanist_id,scientific_name,common_name,location_id,city,country_id,lat,long,country,botanist_name,email,phone
0,1,1,2026-01-28,25.603092,16.842388,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
1,2,2,2026-01-28,32.019440,14.288740,2026-01-27,2,,Corpse flower,2,Lake Jill,2,62.501933,-20.640567,United States Minor Outlying Islands,Jacob Hernandez,jacob.hernandez@lnhm.co.uk,8268602780
2,3,3,2026-01-28,37.103245,14.318891,2026-01-27,3,,Rafflesia arnoldii,3,Edwardsstad,3,-73.928909,-106.786584,New Zealand,Elizabeth Crawford,elizabeth.crawford@lnhm.co.uk,001-222-509-7760x055
3,4,4,2026-01-28,33.101509,16.838115,2026-01-27,4,,Black bat flower,4,East Sherry,4,23.701525,106.401108,Latvia,Alan Grant,alan.grant@lnhm.co.uk,6152878920
4,5,5,2026-01-28,34.881753,17.419263,2026-01-27,5,Sarracenia catesbaei,Pitcher plant,5,Lake Lydiaburgh,5,17.716970,-17.829700,Pitcairn Islands,Jennifer Blanchard,jennifer.blanchard@lnhm.co.uk,327.732.2111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5624,5625,46,2026-01-28,20.571636,15.608433,2026-01-27,43,Medinilla magnifica,Medinilla Magnifica,43,New Lori,37,52.915803,-138.082562,Malta,Casey Hayden,casey.hayden@lnhm.co.uk,001-318-520-0734x472
5625,5626,47,2026-01-28,-13.326754,15.754768,2026-01-27,44,Calliandra haematocephala,Calliandra Haematocephala,44,South Michael,42,28.275200,-60.488715,Wallis and Futuna,Amy Yu,amy.yu@lnhm.co.uk,606-477-9194
5626,5627,48,2026-01-28,23.733289,18.160033,2026-01-27,45,Zamioculcas zamiifolia,Zamioculcas Zamiifolia,45,New Laurafurt,40,73.467015,85.125030,Russian Federation,Donna Baxter,donna.baxter@lnhm.co.uk,(899)415-2737x4627
5627,5628,49,2026-01-28,27.184886,13.809413,2026-01-27,46,Crassula ovata,Crassula Ovata,46,Amandahaven,43,54.826830,-101.575928,Saint Helena,Crystal Goodman,crystal.goodman@lnhm.co.uk,585-264-3806x2321
5628,5629,50,2026-01-28,24.350963,15.156436,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430

In [28]:
clean_table(combine_tables(country_df, botanist_df,
            location_df, plant_df, record_df))

,id,plant_id,recording_taken,moisture,temperature,last_watered,botanist_id,scientific_name,common_name,location_id,city,country_id,lat,long,country,botanist_name,email,phone
0,1,1,2026-01-28,25.603092,16.842388,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
1,2,2,2026-01-28,32.019440,14.288740,2026-01-27,2,,Corpse flower,2,Lake Jill,2,62.501933,-20.640567,United States Minor Outlying Islands,Jacob Hernandez,jacob.hernandez@lnhm.co.uk,8268602780
2,3,3,2026-01-28,37.103245,14.318891,2026-01-27,3,,Rafflesia arnoldii,3,Edwardsstad,3,-73.928909,-106.786584,New Zealand,Elizabeth Crawford,elizabeth.crawford@lnhm.co.uk,001-222-509-7760x055
3,4,4,2026-01-28,33.101509,16.838115,2026-01-27,4,,Black bat flower,4,East Sherry,4,23.701525,106.401108,Latvia,Alan Grant,alan.grant@lnhm.co.uk,6152878920
4,5,5,2026-01-28,34.881753,17.419263,2026-01-27,5,Sarracenia catesbaei,Pitcher plant,5,Lake Lydiaburgh,5,17.716970,-17.829700,Pitcairn Islands,Jennifer Blanchard,jennifer.blanchard@lnhm.co.uk,327.732.2111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5252,5624,45,2026-01-28,19.537722,15.959812,2026-01-27,42,Begonia 'Art Hodes',Begonia,42,Davidchester,41,-60.557412,-66.633609,Iran,Amber Ross,amber.ross@lnhm.co.uk,(768)410-3898x704
5253,5625,46,2026-01-28,20.571636,15.608433,2026-01-27,43,Medinilla magnifica,Medinilla Magnifica,43,New Lori,37,52.915803,-138.082562,Malta,Casey Hayden,casey.hayden@lnhm.co.uk,001-318-520-0734x472
5254,5627,48,2026-01-28,23.733289,18.160033,2026-01-27,45,Zamioculcas zamiifolia,Zamioculcas Zamiifolia,45,New Laurafurt,40,73.467015,85.125030,Russian Federation,Donna Baxter,donna.baxter@lnhm.co.uk,(899)415-2737x4627
5255,5628,49,2026-01-28,27.184886,13.809413,2026-01-27,46,Crassula ovata,Crassula Ovata,46,Amandahaven,43,54.826830,-101.575928,Saint Helena,Crystal Goodman,crystal.goodman@lnhm.co.uk,585-264-3806x2321
5256,5629,50,2026-01-28,24.350963,15.156436,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430

# Avg DataFrame

In [29]:
calculate_averages(clean_table(combine_tables(country_df, botanist_df,
            location_df, plant_df, record_df))).head()

   plant_id         day  avg_temperature  avg_moisture
0         1  2026-01-28        17.082515     24.471028
1         2  2026-01-28        14.606213     27.093965
2         3  2026-01-28        14.490799     30.325334
3         4  2026-01-28        17.080372     26.034656
4         5  2026-01-28        17.605234     28.222452

# Outlier DataFrame

In [30]:
create_outlier_df(combine_tables(country_df, botanist_df,
                  location_df, plant_df, record_df)).columns

Index(['id', 'plant_id', 'recording_taken', 'moisture', 'temperature',
       'last_watered', 'botanist_id', 'scientific_name', 'common_name',
       'location_id', 'city', 'country_id', 'lat', 'long', 'country',
       'botanist_name', 'email', 'phone'],
      dtype='str')