In [1]:
import pandas as pd
import pymysql
import os
from dotenv import load_dotenv

from extract import  main
from transform import combine_tables, clean_outliers, calculate_averages, create_outlier_df

In [2]:
load_dotenv()
data = main()

Connecting to database...

Extracting data from all tables...
Extracting data from Country...
  - Extracted 44 rows from Country
Extracting data from Location...
  - Extracted 48 rows from Location
Extracting data from Plant...
  - Extracted 48 rows from Plant
Extracting data from Botanist...
  - Extracted 48 rows from Botanist
Extracting data from Record...
  - Extracted 9912 rows from Record

=== Extraction Summary ===
Country: 44 rows, 2 columns
Location: 48 rows, 5 columns
Plant: 48 rows, 4 columns
Botanist: 48 rows, 4 columns
Record: 9912 rows, 7 columns

/Users/williamduong/Desktop/Sigma Labs Coursework/Coursework-Advanced-Data-Week-5/archive_pipeline/extract.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [3]:
country_df = data['Country']
location_df = data['Location']
botanist_df = data['Botanist']
plant_df = data['Plant']
record_df = data['Record']

In [4]:
combine_tables(country_df, botanist_df, location_df, plant_df, record_df)

,id,plant_id,recording_taken,moisture,temperature,last_watered,botanist_id,scientific_name,common_name,location_id,city,country_id,lat,long,country,botanist_name,email,phone
0,1,1,2026-01-28,25.603092,16.842388,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
1,2,2,2026-01-28,32.019440,14.288740,2026-01-27,2,,Corpse flower,2,Lake Jill,2,62.501933,-20.640567,United States Minor Outlying Islands,Jacob Hernandez,jacob.hernandez@lnhm.co.uk,8268602780
2,3,3,2026-01-28,37.103245,14.318891,2026-01-27,3,,Rafflesia arnoldii,3,Edwardsstad,3,-73.928909,-106.786584,New Zealand,Elizabeth Crawford,elizabeth.crawford@lnhm.co.uk,001-222-509-7760x055
3,4,4,2026-01-28,33.101509,16.838115,2026-01-27,4,,Black bat flower,4,East Sherry,4,23.701525,106.401108,Latvia,Alan Grant,alan.grant@lnhm.co.uk,6152878920
4,5,5,2026-01-28,34.881753,17.419263,2026-01-27,5,Sarracenia catesbaei,Pitcher plant,5,Lake Lydiaburgh,5,17.716970,-17.829700,Pitcairn Islands,Jennifer Blanchard,jennifer.blanchard@lnhm.co.uk,327.732.2111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9907,9908,45,2026-01-28,98.453555,17.070804,2026-01-28,42,Begonia 'Art Hodes',Begonia,42,Davidchester,41,-60.557412,-66.633609,Iran,Amber Ross,amber.ross@lnhm.co.uk,(768)410-3898x704
9908,9909,46,2026-01-28,21.059654,15.460952,2026-01-27,43,Medinilla magnifica,Medinilla Magnifica,43,New Lori,37,52.915803,-138.082562,Malta,Casey Hayden,casey.hayden@lnhm.co.uk,001-318-520-0734x472
9909,9910,47,2026-01-28,-21.083340,15.620350,2026-01-27,44,Calliandra haematocephala,Calliandra Haematocephala,44,South Michael,42,28.275200,-60.488715,Wallis and Futuna,Amy Yu,amy.yu@lnhm.co.uk,606-477-9194
9910,9911,48,2026-01-28,17.503483,18.001557,2026-01-27,45,Zamioculcas zamiifolia,Zamioculcas Zamiifolia,45,New Laurafurt,40,73.467015,85.125030,Russian Federation,Donna Baxter,donna.baxter@lnhm.co.uk,(899)415-2737x4627
9911,9912,50,2026-01-28,22.437058,15.076328,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430

In [5]:
clean_outliers(combine_tables(country_df, botanist_df,
               location_df, plant_df, record_df))

,id,plant_id,recording_taken,moisture,temperature,last_watered,botanist_id,scientific_name,common_name,location_id,city,country_id,lat,long,country,botanist_name,email,phone
0,330,1,2026-01-28,25.710991,16.956436,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
1,376,1,2026-01-28,29.385678,16.962007,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
2,423,1,2026-01-28,27.922079,16.967442,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
3,471,1,2026-01-28,25.533787,16.972833,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
4,519,1,2026-01-28,29.087196,16.978089,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9042,9723,50,2026-01-28,18.983374,15.083096,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430
9043,9771,50,2026-01-28,23.117817,15.081595,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430
9044,9818,50,2026-01-28,22.333750,15.079935,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430
9045,9866,50,2026-01-28,24.976753,15.078113,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430
9046,9912,50,2026-01-28,22.437058,15.076328,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430

# Avg DataFrame

In [8]:
calculate_averages(combine_tables(country_df, botanist_df,
               location_df, plant_df, record_df), clean_outliers(combine_tables(country_df, botanist_df,
            location_df, plant_df, record_df)))

,plant_id,common_name,scientific_name,avg_temperature,avg_moisture,errors_removed
0,1,Venus flytrap,,17.20,22.66,44
1,2,Corpse flower,,14.55,24.30,15
2,3,Rafflesia arnoldii,,14.46,27.74,9
3,4,Black bat flower,,17.13,23.51,14
4,5,Pitcher plant,Sarracenia catesbaei,17.64,25.28,9
5,6,Wollemi pine,Wollemia nobilis,13.21,27.59,6
6,8,Bird of paradise,Heliconia schiedeana 'Fire and Ice',16.67,27.10,7
7,9,Cactus,Pereskia grandifolia,16.07,27.01,10
8,10,Dragon tree,,18.55,22.69,35
9,11,Asclepias Curassavica,Asclepias curassavica,17.33,22.36,36
10,12,Brugmansia X Candida,,16.01,22.68,35
11,13,Canna ‘Striata’,,15.22,26.63,6
12,14,Colocasia Esculenta,Colocasia esculenta,16.88,23.29,23
13,15,Cuphea ‘David Verity’,,13.88,23.32,19
14,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,16.20,-16.00,42
15,17,Ipomoea Batatas,Ipomoea batatas,14.97,26.26,11
16,18,Manihot Esculenta ‘Variegata’,,16.55,26.94,11
17,19,Musa Basjoo,Musa basjoo,15.74,27.34,11
18,20,Salvia Splendens,Salvia splendens,16.54,26.52,8
19,21,Anthurium,Anthurium andraeanum,15.47,27.98,14
20,22,Bird of Paradise,Heliconia schiedeana 'Fire and Ice',15.44,26.45,10
21,23,Cordyline Fruticosa,Cordyline fruticosa,13.28,26.38,12
22,24,Ficus,Ficus carica,13.31,24.84,16
23,25,Palm Trees,,17.61,23.63,11
24,26,Dieffenbachia Seguine,Dieffenbachia seguine,14.25,26.42,10
25,27,Spathiphyllum,Spathiphyllum (group),17.05,23.02,26
26,28,Croton,Codiaeum variegatum,15.47,22.47,39
27,29,Aloe Vera,Aloe vera,13.10,25.00,9
28,30,Ficus Elastica,Ficus elastica,15.35,22.42,48
29,31,Sansevieria Trifasciata,Sansevieria trifasciata,15.76,27.43,8
30,32,Philodendron Hederaceum,Philodendron hederaceum,16.33,26.87,14
31,33,Schefflera Arboricola,Schefflera arboricola,15.31,22.30,48
32,34,Aglaonema Commutatum,Aglaonema commutatum,16.43,22.66,48
33,35,Monstera Deliciosa,Monstera deliciosa,16.19,27.36,8
34,36,Tacca Integrifolia,Tacca integrifolia,16.81,23.19,21
35,37,Psychopsis Papilio,,13.60,25.66,10
36,38,Saintpaulia Ionantha,Saintpaulia ionantha,14.63,23.20,20
37,39,Gaillardia,Gaillardia aestivalis,13.97,24.90,7
38,40,Amaryllis,Hippeastrum (group),15.05,26.23,14
39,41,Caladium Bicolor,Caladium bicolor,13.32,25.16,12
40,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',13.59,27.84,14
41,44,Araucaria Heterophylla,Araucaria heterophylla,15.77,24.48,12
42,45,Begonia,Begonia 'Art Hodes',17.19,22.59,37
43,46,Medinilla Magnifica,Medinilla magnifica,15.54,24.38,7
44,47,Calliandra Haematocephala,Calliandra haematocephala,15.69,-12.19,9
45,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,18.08,23.90,11
46,49,Crassula Ovata,Crassula ovata,13.74,24.58,12
47,50,Epipremnum Aureum,Epipremnum aureum,15.12,27.70,7

# Outlier DataFrame

In [7]:
create_outlier_df(combine_tables(country_df, botanist_df,
                  location_df, plant_df, record_df))

,id,recording_taken,moisture,temperature,last_watered,botanist_id,scientific_name,common_name,location_id,city,country_id,lat,long,country,botanist_name,email,phone
0,3754,2026-01-28,-74.789492,17.234159,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
1,8511,2026-01-28,-6.831967,17.185880,2026-01-27,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
2,8604,2026-01-28,99.990353,17.179810,2026-01-28,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
3,8650,2026-01-28,99.935095,17.176754,2026-01-28,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
4,8695,2026-01-28,99.877531,17.173545,2026-01-28,1,,Venus flytrap,1,Mitchellfurt,1,81.200354,7.815683,Suriname,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,141,2026-01-28,36.784290,25.413647,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430
827,937,2026-01-28,30.780705,21.903346,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430
828,1359,2026-01-28,32.054258,96.396823,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430
829,5440,2026-01-28,29.877539,13.334030,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430
830,9490,2026-01-28,18.558230,15.252737,2026-01-27,47,Epipremnum aureum,Epipremnum Aureum,47,North Joshuatown,39,-73.798738,-22.615264,Montenegro,Gina Meyer,gina.meyer@lnhm.co.uk,+1-414-616-0457x430