In [37]:
import requests
import pandas as pd

from extract import fetch_plant_data, flatten_plant_data, extract_all_plants
from transform import create_country_table, create_botanist_table, create_location_table, create_plant_table, create_record_table

In [38]:
df = extract_all_plants(1, 50)

Error fetching plant ID 7: plant not found
Error fetching plant ID 40: plant sensor fault
Error fetching plant ID 43: plant on loan to another museum
Error fetching plant ID 45: plant sensor fault

In [39]:
create_country_table(df).head()

   country_id                               country
0           1                              Suriname
1           2  United States Minor Outlying Islands
2           3                           New Zealand
3           4                                Latvia
4           5                      Pitcairn Islands

In [40]:
create_botanist_table(df).head()

,botanist_id,botanist_name,email,phone
0,1,Sherry Campbell,sherry.campbell@lnhm.co.uk,+1-662-659-8097x8928
1,2,Jacob Hernandez,jacob.hernandez@lnhm.co.uk,8268602780
2,3,Elizabeth Crawford,elizabeth.crawford@lnhm.co.uk,001-222-509-7760x0558
3,4,Alan Grant,alan.grant@lnhm.co.uk,6152878920
4,5,Jennifer Blanchard,jennifer.blanchard@lnhm.co.uk,327.732.2111

In [41]:
create_location_table(df)

    location_id                  city          lat         long  country_id
0             1          Mitchellfurt   81.2003535     7.815683           1
1             2             Lake Jill    62.501933   -20.640567           2
2             3           Edwardsstad  -73.9289085  -106.786584           3
3             4           East Sherry    23.701525   106.401108           4
4             5       Lake Lydiaburgh   17.7169705   -17.829700           5
5             6          South Thomas   -65.203977  -124.152631           6
6             7            South Tina  -60.9363685  -152.763324           7
7             8           Gambleshire  -42.9962205  -123.053507           8
8             9           Stevensberg  -82.3459075   -13.080896           9
9            10           Flowersberg  -72.9649155   127.183588          10
10           11            Gomezmouth  -40.5645435    83.998008          11
11           12             Millerton  -32.9029575  -146.302804          12
12           13            Watsontown  -18.6871435    57.450992          13
13           14              Leeville  -62.5511245  -161.813034          14
14           15          West Melanie    64.383879    92.902187          15
15           16               Leebury     2.146164    56.967894          16
16           17            Lake Tyler   -39.502295    -0.109342          17
17           18         Gonzalezhaven   -67.269697   102.225776          18
18           19           New Yolanda  -23.4958555   -16.242039          19
19           20       West Kevinburgh  -69.5795405   -54.074219          20
20           21          East Rebecca  -34.9328045   150.371647          21
21           22         Mortonborough  -31.6079135   -83.850347          22
22           23    Lake Alexandraside    41.085675    -4.167175          23
23           24            Farmerberg   76.6820215   164.980551          24
24           25          Schmidtmouth   -29.066297    18.278546          25
25           26             Ruizmouth    21.876417   -31.458582          26
26           27          Mallorymouth     9.707351    72.816634          27
27           28        West Jacobfort   36.0357895   148.718821          28
28           29       Lake Nicolefort   47.3941165   -24.434894          29
29           30           South Haley  -54.5020945  -127.026269          30
30           31             Joanmouth  -35.3487675   -80.319921          31
31           32        New Thomastown    23.490859   -19.275947          32
32           33        Michaelborough   -23.513493    91.272237          33
33           34      New Shanechester   -60.291449   -12.594265          34
34           35            Port Jason   50.7844445   177.490752          35
35           36             New Diana   15.4607085   -46.580627          36
36           37           Schmidtfurt   -24.459428  -132.113354          37
37           38            South Erik    39.852798   -22.673609          38
38           39  Lake Christopherberg   24.7269645    -7.878364          39
39           40             Davidfurt   -79.460413    77.002058          40
40           41            Davidshire   55.3241195   145.548092          15
41           42              New Lori    52.915803  -138.082562          38
42           43         South Michael    28.275200   -60.488715          41
43           44         New Laurafurt   73.4670145    85.125030          40
44           45           Amandahaven   54.8268295  -101.575928          42
45           46      North Joshuatown  -73.7987385   -22.615264          39

In [42]:
create_plant_table(df)

,plant_id,scientific_name,common_name,location_id
0,1,,Venus flytrap,1
1,2,,Corpse flower,2
2,3,,Rafflesia arnoldii,3
3,4,,Black bat flower,4
4,5,Sarracenia catesbaei,Pitcher plant,5
5,6,Wollemia nobilis,Wollemi pine,6
6,7,Heliconia schiedeana 'Fire and Ice',Bird of paradise,7
7,8,Pereskia grandifolia,Cactus,8
8,9,,Dragon tree,9
9,10,Asclepias curassavica,Asclepias Curassavica,10
10,11,,Brugmansia X Candida,11
11,12,,Canna ‘Striata’,12
12,13,Colocasia esculenta,Colocasia Esculenta,13
13,14,,Cuphea ‘David Verity’,14
14,15,Euphorbia cotinifolia,Euphorbia Cotinifolia,15
15,16,Ipomoea batatas,Ipomoea Batatas,16
16,17,,Manihot Esculenta ‘Variegata’,17
17,18,Musa basjoo,Musa Basjoo,18
18,19,Salvia splendens,Salvia Splendens,19
19,20,Anthurium andraeanum,Anthurium,20
20,21,Heliconia schiedeana 'Fire and Ice',Bird of Paradise,21
21,22,Cordyline fruticosa,Cordyline Fruticosa,22
22,23,Ficus carica,Ficus,23
23,24,,Palm Trees,24
24,25,Dieffenbachia seguine,Dieffenbachia Seguine,25
25,26,Spathiphyllum (group),Spathiphyllum,26
26,27,Codiaeum variegatum,Croton,27
27,28,Aloe vera,Aloe Vera,28
28,29,Ficus elastica,Ficus Elastica,29
29,30,Sansevieria trifasciata,Sansevieria Trifasciata,30
30,31,Philodendron hederaceum,Philodendron Hederaceum,31
31,32,Schefflera arboricola,Schefflera Arboricola,32
32,33,Aglaonema commutatum,Aglaonema Commutatum,33
33,34,Monstera deliciosa,Monstera Deliciosa,34
34,35,Tacca integrifolia,Tacca Integrifolia,35
35,36,,Psychopsis Papilio,36
36,37,Saintpaulia ionantha,Saintpaulia Ionantha,37
37,38,Gaillardia aestivalis,Gaillardia,38
38,39,Caladium bicolor,Caladium Bicolor,39
39,40,Chlorophytum comosum 'Vittatum',Chlorophytum Comosum,40
40,41,Araucaria heterophylla,Araucaria Heterophylla,41
41,42,Medinilla magnifica,Medinilla Magnifica,42
42,43,Calliandra haematocephala,Calliandra Haematocephala,43
43,44,Zamioculcas zamiifolia,Zamioculcas Zamiifolia,44
44,45,Crassula ovata,Crassula Ovata,45
45,46,Epipremnum aureum,Epipremnum Aureum,46

In [44]:
create_record_table(df).head()

TypeError: unhashable type: 'list'